.banner {
  background-image: url(/assets/imgs/banner_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content > h3 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.content a {
  text-decoration: none;
  color: #000;
}
.order-item {
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 5px;
}
.address {
  justify-content: space-between;
  align-items: center;
}
.cart > table td {
  font-size: 16px;
  padding: 10px 72px;
  text-align: center;
  color: #000;
}
.img-cart {
  width: 140px;
  border-radius: 20px;
}
.voucher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-technical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.shop-voucher {
  display: flex;
  align-items: center;
  gap: 20px;
}
.message {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shipping-method {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total-money > table td {
  padding-left: 60px;
  padding-top: 10px;
}
