<app-header></app-header>
<section>
  <div class="banner">
    <div class="content">
      <h3>Checkout</h3>
      <p>
        <a href="index.html"><b>Home ></b></a> Buy Now
      </p>
    </div>
  </div>
</section>
<main *ngIf="isCartEmpty()">
  <section>
    <div class="checkout-address container">
      <h4><i class="fa-solid fa-location-dot"></i> Địa chỉ nhận hàng</h4>
      <div class="address d-flex">
        <div>
          <b>Nguyễn Văn A (+84) 393197895</b>
          <p>
            Lô G11, Đường D5, Kdc Lai Hưng, Xã Lai Hưng, Huyện Bàu Bàng, Bình
            Dương
          </p>
        </div>
        <button class="btn">Change</button>
      </div>
    </div>
  </section>
  <section>
    <div class="container cart">
      <table>
        <div *ngFor="let item of cartItems" class="order-item">
          <td>
            <img class="img-cart" [src]="item.product.url" alt="" />
          </td>
          <td>{{ item.product.name }}</td>
          <td>Rs. {{ item.product.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>Rs. {{ totalMoney }}</td>
          <div class="mt-5"></div>
          <div class="voucher">
            <div class="shop-technical">
              <div>Hóa đơn điện tử <i class="fa-solid fa-question"></i></div>
              <a href="">Yêu cầu ngay</a>
            </div>
            <div class="shop-voucher">
              <h4><i class="fa-solid fa-gift"></i> Voucher</h4>
              <div class="">
                <input type="text" placeholder="Enter your code" />
                <button class="btn">Apply</button>
              </div>
            </div>
          </div>
          <div class="mt-5"></div>
          <div class="shipping-method">
            <div class="message">
              <label for="#" class="">Lời nhắn :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Lời nhắn cho Người bán.."
              />
            </div>
          </div>
          <div class="total">
            <p>
              <span>Tổng số tiền(1 sản phẩm): {{ totalMoney }}</span>
            </p>
          </div>
        </div>
      </table>
    </div>
  </section>
  <section class="container my-4">
    <div class="order-voucher d-flex justify-content-between">
      <h4><i class="fa-solid fa-gift"></i> Voucher</h4>
      <div class="">
        <input type="text" placeholder="Enter your code" />
        <button class="btn">Apply</button>
      </div>
    </div>
  </section>
  <section>
    <div class="payment-method container d-flex justify-content-between">
      <h4><i class="fa-solid fa-credit-card"></i> Phương thức thanh toán</h4>
      <div class="payment-method-item">
        <input type="radio" name="payment" id="payment1" />
        <label for="payment1">Thanh toán khi nhận hàng</label>
      </div>
      <div class="change">THAY ĐỔI</div>
    </div>
  </section>
  <section class="container my-5">
    <div class="transport d-flex justify-content-between">
      <h5><i class="fa-solid fa-truck"></i> Phương thức vận chuyển</h5>
      <div>
        <div class="transport-item">
          <input
            type="radio"
            name="transport"
            id="transport1"
            value="Giao hàng tiêu chuẩn"
            [(ngModel)]="selectedTranport"
            (change)="onChangeTransport()"
          />
          <label for="transport1">Giao hàng tiêu chuẩn</label>
          <p>Phí vận chuyển: 20.000đ</p>
        </div>
        <div class="transport-item">
          <input
            type="radio"
            name="transport"
            id="transport2"
            value="Giao hàng nhanh"
            [(ngModel)]="selectedTranport"
            (change)="onChangeTransport()"
          />
          <label for="transport2">Giao hàng nhanh</label>
          <p>Phí vận chuyển: 30.000đ</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container d-flex justify-content-end">
    <div class="total-money">
      <table>
        <tr>
          <td>Tổng tiền hàng</td>
          <td>25.627.600đ</td>
        </tr>
        <tr>
          <td>Phí vận chuyển</td>
          <td>20.000đ</td>
        </tr>
        <tr>
          <td>Tổng cộng Voucher giảm giá</td>
          <td>0đ</td>
        </tr>
        <tr>
          <td>Tổng thanh toán</td>
          <td class="text-danger" style="font-size: 24px">25.647.600đ</td>
        </tr>
      </table>
    </div>
  </section>
  <div class="container d-flex justify-content-end mt-3">
    <button class="btn btn-primary" (click)="placeOrder()">Đặt hàng</button>
  </div>
</main>
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Shopping Cart</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="product-cart">
          <div class="product-cart-item">
            <img class="product-image" alt="" />
            <div class="product-cart-infor">
              <h4></h4>
              <span class="product-quantity fs-4"><b></b></span>

              <p class="d-inline mx-3 fs-3 product-price">x</p>
            </div>
          </div>
        </div>
        <div class="d-flex mt-3">
          <p class="fs-3" style="margin-right: 100px">Subtotal:</p>
          <p class="price-total fs-3"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cart</button>
        <button type="button" class="btn">Checkout</button>
        <button type="button" class="btn">Comparison</button>
      </div>
    </div>
  </div>
</div> -->

<app-footer></app-footer>
