.banner {
  background-image: url(/assets/imgs/banner_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content > h3 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.content a {
  text-decoration: none;
  color: #000;
}
.order-item {
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 5px;
}
.order-details {
  padding: 20px;
}
.address {
  justify-content: space-between;
  align-items: center;
}
.cart > table {
  width: 100%;
  height: auto;
}
.cart > table td {
  font-size: 16px;
  padding: 10px 72px;
  text-align: center;
  color: #000;
}
.img-cart {
  width: 140px;
  border-radius: 20px;
}
.voucher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-technical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.shop-voucher {
  display: flex;
  align-items: center;
  gap: 20px;
}
.message {
  display: flex;
  align-items: center;
  gap: 20px;
}
.shipping-method {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total-money > table td {
  padding-left: 60px;
  padding-top: 10px;
}
.modal-dialog {
  position: sticky;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.separate {
  border: 1px solid #d9d9d9;
  margin-top: 30px;
  margin-bottom: 30px;
}
.payment-method-item {
  margin-bottom: 15px;
}
